[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
flask = "*"
flask-graphql = "*"

[requires]
python_version = "3.7"
